extends ../layouts/fluid

block menu
  include ../includes/common-topbar-user

block breadcrumb
  +breadcrumb-item("/admin", "Operations Hub")

block content
  .container-fluid
    h1= title
    p Manage all DNS Alias here.
  .container-fluid.hidden-md-down
    if errorMessage.length
      .alert.alert-danger !{errorMessage}
    if successMessage.length
      .alert.alert-success !{successMessage}
    .card
      .card-header
        button.btn.btn-primary.mt-0.mb-0.mr-1(data-toggle="modal" data-target="#NewDNS") New Entry
        a.btn.btn-primary.mt-0.mb-0(href="/admin/dns/report") Generate Auditing Report
      table.table#dns-loadhere
        tbody
          tr
            td(colspan="7")
              include ../includes/loading-bar
      .card-footer
        button.btn.btn-primary.mt-0.mb-0(data-toggle="modal" data-target="#NewDNS") New Entry
  include ../includes/mobile_not_supported-f
  include ../user/_partials/dns-form
  include ../user/_partials/dns-edit
block additional-libraries
  script(src='/admin/assets/ipcalc.js')
  script(src='/admin/assets/kanna.js')
