extends ../layout

block menu
  include ../user/common-topbar-user.pug

block breadcrumb
  +breadcrumb-item("/admin", "Operations Hub")

block content
  .container-fluid
    h1= title
    p Manage all DNS Alias here.
  .container-fluid.hidden-md-down
    if errorMessage.length
      .alert.alert-danger !{errorMessage}
    if successMessage.length
      .alert.alert-success !{successMessage}
    .card
      table.table#dns-loadhere
        tbody
          tr
            td(colspan="7")
              include ../includes/loading-bar.pug
      .card-footer
        button.mb-0.btn.btn-block.btn-primary(type="button", data-toggle="modal" data-target="#NewDNS") New Entry
  include ../includes/mobile_not_supported.pug
  include ../user/_partials/dns-form.pug
  include ../user/_partials/dns-edit.pug
block additional-libraries
  script(src='/admin/assets/fhana.js')
