extends layout

block menu
  include ../user/common-topbar-user

block content
  .container-fluid
    h1 Welcome! Administrator
    p What would you like to do today?
  .container-fluid
    .card-columns
      .card
        h4.card-header Manage VMs
        .card-block
          p.card-text Spin up, Spin down, all goes here
        .card-footer
          a.btn.btn-primary.btn-block(href="/admin/instances") Click
      .card
        h4.card-header Manage DNS
        .card-block
          p.card-text You won't want to remember a big chunk of numbers.
        .card-footer
          a.btn.btn-primary.btn-block(href="/admin/dns") Click
      .card
        h4.card-header System Logs
        .card-block
          p.card-text Overview on System Events.
        .card-footer
          a.btn.btn-primary.btn-block(href="/admin/log") Click
      .card
        h4.card-header System Events
        .card-block
          p.card-text List of Queued Events.
        .card-footer
          a.btn.btn-primary.btn-block(href="/admin/event") Click
      .card
        h4.card-header Users
        .card-block
          p.card-text Manage Users.
        .card-footer
          a.btn.btn-primary.btn-block(href="/admin/users") Click
      .card
        h4.card-header Security
        .card-block
          p.card-text You are advised to change your password regularly.
        .card-footer
          a.btn.btn-primary.btn-block(href="/admin/profile") Click
