extends ../layouts/fluid

block menu
  include ../includes/common-topbar-user

block breadcrumb
  if mode === 'admin'
    +breadcrumb-item("/admin", "Operations Hub")
    +breadcrumb-item("/admin/instances", "Virtual Machines")
  if mode === 'user'

block content
  .container-fluid
    h1= title
    p Get into the inception (?)
  .container-fluid.hidden-md-down
    include ../_partials/vm-partials/instances-clone
  include ../includes/mobile_not_supported-f

block additional-libraries
  script(src="/admin/assets/copier.js")
