extends ../layouts/normal

block menu
  include ../includes/common-topbar-user

block breadcrumb
  +breadcrumb-item("/admin", "Operations Hub")

block content
  .container-fluid
    h1= title
    p Manage all Virtual Machines here.
  .container-fluid.hidden-md-down
    .card
      .card-header
        include _partials/vm-tabs/navbar
      .tab-content
        include _partials/vm-tabs/vm-all
        include _partials/vm-tabs/vm-rcrd
        include _partials/vm-tabs/vm-tpl-all
        include _partials/vm-tabs/vm-tpl-rcrd
        include _partials/vm-tabs/vm-net
        include _partials/vm-tabs/vm-vif
  include ../includes/mobile_not_supported
  
block additional-libraries
  script(src="/admin/assets/ame.js")
