extends ../layout.pug

block menu
  include common-topbar-user.pug

block breadcrumb
  +breadcrumb-item("/admin", "Operations Hub")

block content
  .container
    h1 #{title}
    p How's the system going?
  .container.hidden-lg-down
    .card
      h5.card-header System Event Logs
      .card-block.pb-1
        a.btn.btn-secondary(href="/admin/log/all") Get a list of recent events on record.
      .card-block.pb-1
        h6 Severity
        .btn-group#severity
          | Loading...
      .card-block.pb-1
        h6 Tags
        .btn-group#tags
          | Loading...
      .card-block
        h6 Hostname
        .btn-group#hostname
          | Loading...
  include ../includes/mobile_not_supported.pug


block additional-libraries
  script(src="/admin/assets/status.js")
