extends ../layouts/fluid

block menu
  include ../includes/common-topbar-user

block breadcrumb
  +breadcrumb-item("/admin", "Operations Hub")

block content
  .container-fluid
    h1 #{title}
    p How's the system going?
  .container-fluid.hidden-lg-down
    .card
      h5.card-header System Event Logs
      .card-block.pb-1
        a.btn.btn-secondary(href="/admin/log/all") Get a list of recent events on record.
      .card-block.pb-1
        h6 Severity
        #severity
          include ../includes/loading-bar
      .card-block.pb-1
        h6 Tags
        #tags
          include ../includes/loading-bar
      .card-block
        h6 Hostname
        #hostname
          include ../includes/loading-bar
  include ../includes/mobile_not_supported-f


block additional-libraries
  script(src="/admin/assets/status.js")
