extends ../layouts/fluid

block extra-stylesheet
  link(rel="stylesheet", href="//cdn.datatables.net/1.10.15/css/dataTables.bootstrap4.min.css")

block menu
  include ../includes/common-topbar-user

block breadcrumb
  +breadcrumb-item("/admin", "Operations Hub")

block content
  .container-fluid
    h1= title
    p Overview of queued and completed tasks.
  .container-fluid.hidden-md-down
    //- The in line style is REQUIRED by the table library
    table.table.table-striped(style="width: 100%;")#tasks-loadhere
      thead
        tr
          th Task ID
          th Created
          th Task
          th Payload
          th Sent?
          th Result
      tfoot
        tr
          th Task ID
          th Created
          th Task
          th Payload
          th Sent?
          th Result
    
block additional-libraries
  script(src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js")
  script(src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js")
  script(src="/admin/assets/seiretsu.js")
