extends ../layouts/fluid

block menu
  include ../includes/common-topbar-user

block breadcrumb
  +breadcrumb-item("/admin", "Operations Hub")

block content
  .container-fluid
    h1= title
    p Manage User Accounts.
  .container-fluid.hidden-md-down
    if errorMessage.length
      .alert.alert-danger !{errorMessage}
    if successMessage.length
      .alert.alert-success !{successMessage}
    .card
      .card-header
        a.mt-1.btn.btn-block.btn-primary(href="/admin/users/report") Generate Auditing Report
      table.table#user-loadhere
        tbody
          tr
            td(colspan="3")
              include ../includes/loading-bar
      .card-footer
        button.mb-0.btn.btn-block.btn-primary(type="button", data-toggle="modal", data-target="#NewUser") New User
  include ../includes/mobile_not_supported-f
  include _partials/user-new
  include _partials/user-edit
    
block additional-libraries
  script(src="/admin/assets/alpine.js")
