.container.hidden-lg-up
  .card
    .card-block
      p.card-text We're sorry, but this function is not supported on mobile devices.
      p.card-text If you are using tablets, please rotate your device to a landscape position.
