<!--[if lte IE 9]>
  .old-browser.warning
    | This web browser is crap, outdated, clumsy, dangerous and an evil to modern world. 
    a.better.choise(href="http://browsehappy.com/") Consider a better choice TODAY!
<![endif]-->
.old-browser.better
  | You deserves a better web browser. Don't be evil. 
  a.better.choise(href="http://browsehappy.com/") Consider a better choice TODAY! 
  if (user)
  a.better.logout(href="/users/logout") Logout.
