<!--[if lte IE 9]>
  .old-browser.warning
    | This web browser is not supported by the system.
    a.better.choise(href="http://browsehappy.com/") Upgrade TODAY!
<![endif]-->
.old-browser.better
  | You deserves a better web browser. 
  a.better.choise(href="http://browsehappy.com/") Upgrade TODAY!
  if (user)
    a.better.logout(href="/users/logout") Logout.
