<!--[if lt IE 9]>
  .old-browser-warning
    | This browser does not comply with the system security standard and the modern world. 
    a.better-choise(href="http://browsehappy.com/") Consider a better choice TODAY!
<![endif]-->
