.panel.panel-primary
  .panel-heading
    h3.panel-title System Status
  .list-group#status-mothership
    .list-group-item
      span.label.label-default.round-label#status-namba
        | Loading...
      | Backend (Hypervisor)
    .list-group-item
      span.label.label-default.round-label#status-umeda
        | Loading...
      | Backend (General)
    .list-group-item
      span.label.label-default.round-label#status-ikeda
        | Loading...
      | Hypervisor
    .list-group-item
      span.label.label-default.round-label#status-yamada
        | Loading...
      | Relational Storage
    .list-group-item
      span.label.label-default.round-label#status-nigawa
        | Loading...
      | Giant Storage
