.list-group.list-group-flush#status-mothership
  .list-group-item.justify-content-between
    | Backend (Hypervisor)
    span.badge.badge-default.badge-pill#status-tonda
      | ...
  .list-group-item.justify-content-between
    | Backend (General)
    span.badge.badge-default.badge-pill#status-umeda
      | ...
  .list-group-item.justify-content-between
    | Hypervisor
    span.badge.badge-default.badge-pill#status-ikeda
      | ...
  .list-group-item.justify-content-between
    | DNS Driver
    span.badge.badge-default.badge-pill#status-suita
      | ...
  .list-group-item.justify-content-between
    | Relational Storage
    span.badge.badge-default.badge-pill#status-yamada
      | ...
  .list-group-item.justify-content-between
    | Giant Storage
    span.badge.badge-default.badge-pill#status-sonoda
      | ...
