.list-group.list-group-flush#status-mothership
  .list-group-item.justify-content-between
    | Backend (Hypervisor)
    span.badge.badge-default.badge-pill#status-namba
      | Loading...
  .list-group-item.justify-content-between
    | Backend (General)
    span.badge.badge-default.badge-pill#status-umeda
      | Loading...
  .list-group-item.justify-content-between
    | Hypervisor
    span.badge.badge-default.badge-pill#status-ikeda
      | Loading...
  .list-group-item.justify-content-between
    | Relational Storage
    span.badge.badge-default.badge-pill#status-yamada
      | Loading...
  .list-group-item.justify-content-between
    | Giant Storage
    span.badge.badge-default.badge-pill#status-nigawa
      | Loading...
