nav.navbar.fixed-top.navbar-toggleable-md.navbar-light.bg-faded
  .container
    button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    a.navbar-brand Private Cloud
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        block menu
