nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#top-navbar-Nav")
        span.glyphicon.glyphicon-th
      a.navbar-brand Private Cloud
    .collapse.navbar-collapse#top-navbar-Nav
      ul.nav.navbar-nav
        block menu
