extends layout

block menu
  li.nav-item
    a.nav-link(href="/") Home

block content
  .container
    .panel.panel-danger
      .panel-heading
        h3.panel-tite= error.status
      .panel-body
        | #{message}
    if error.stack
      .panel.panel-info
        details.panel-body
          summary StackTrace
          pre= error.stack
