extends layout

block menu
  +navbar-link("/", "Home")

block content
  .container
    .card
      h3.card-header= error.status || 500
      .card-block
        p.card-text #{message}
      if error.stack
        .card-block
          details
            summary.card-text StackTrace
            pre.card-text= error.stack
