extends layouts/normal

block menu
  +navbar-link("/", "Home")

block content
  .container
    .alert.alert-danger
      h4.alert-heading= error.status
      p= message
      if error.stack
        p
          details
            summary StackTrace
            pre.card-text= error.stack
