extends layout

block menu
  li.nav-item
    a.nav-link(href="/") Home

block content
  .container
    .card
      h3.card-header= error.status
      .card-block
        p.card-text #{message}
      if error.stack
        .card-block
          details
            summary.card-text StackTrace
            pre.card-text= error.stack
