extends layout

block menu
  +navbar-link("/", "Home")
  +navbar-link("/status", "System Status")
  +navbar-link-active()

block content
  .container
    h1 #{title}
    p Need Help?
  .container
    div#accordion(role="tablist", aria-multiselectable="true")
      .card
        #headingThree.card-header(role="tab")
          h5.mb-0
            a.collapsed(data-toggle="collapse", data-parent="#accordion", href="#collapseThree", aria-expanded="false", aria-controls="collapseThree")
              | How to Connect to my Server?
        #collapseThree.collapse(role="tabpanel", aria-labelledby="headingThree")
          include _partials/ssh-fake-vpn
      .card
        #headingThree.card-header(role="tab")
          h5.mb-0
            a.collapsed(data-toggle="collapse", data-parent="#accordion", href="#collapseThree", aria-expanded="false", aria-controls="collapseThree")
              | How to Connect to my Server?
        #collapseThree.collapse(role="tabpanel", aria-labelledby="headingThree")
          include _partials/ssh-fake-vpn

block additional-libraries
