extends layout

block menu
  +navbar-link("/", "Home")
  +navbar-link("/status", "System Status")
  +navbar-link-active()

block content
  .container
    h1 #{title}
    p Need Help?
  .container
    #accordion(role="tablist", aria-multiselectable="true")
      .card
        .card-header(role="tab")
          h5.mb-0
            a.collapsed(data-toggle="collapse", data-parent="#accordion", href="#collapse-chrome")
              | How to Connect to my Server?
        #collapse-chrome.collapse.show(role="tabpanel")
          include _partials/ssh-chrome.pug
      .card
        .card-header(role="tab")
          h5.mb-0
            a.collapsed(data-toggle="collapse", data-parent="#accordion", href="#collapse-meep")
              | License Information
        #collapse-meep.collapse(role="tabpanel")
          .card-block
            p.card-text
              | This private cloud solution is a open sourced software.
            p.card-text
              | Unless explict specified, all codes are licensed under MIT License.

  include _partials/lightbox.pug

block additional-libraries
  script(src="/assets/javascripts/lightybox.js")
