extends layout

block menu
  +navbar-link-active()
  +navbar-link("/status", "System Status")
  +navbar-link("/help", "Knowledge Base")

block content
  .jumbotron.jumbotron-fluid
    .container
      h1.display-3 Welcome!
      p.lead.
        Welcome to your Private Cloud platform! #[br]
        Please Login to Continue. If you don't have a account, contact your local administrator for assistance.
      hr.my-4
      p.lead
        a.btn.btn-primary.btn-lg(href="/users") Login
