extends layout

block menu
  li.active
    a(href="#") Home
  li
    a(href="/status") System Status
block content
  .jumbotron
    .container
      h1 Welcome!
      p
      | Welcome to your Private Cloud platform!
      br
      | Please Login to Continue. If you don't have a account, contact your local administrator for assistance.
  .container
    include includes/status-list-group.pug
block additional-libraries
  script(src="javascripts/status.js")
          
