doctype html
html
  head
    title #{title} - Private Cloud
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ", crossorigin="anonymous")
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    //- Menu
    include includes/topmenu.pug
    //- Breadcrumb
    include includes/breadcrumb.pug
    //- Main Body
    block content
    //- Footer
    include includes/footer.pug
    //- Footer Area for Javascript Libraries
    include includes/footer-js.pug
