extends layout

block menu
  li.nav-item
    a.nav-link(href="/") Home
  li.nav-item.active
    a.nav-link(href="#") System Status
block breadcrumb
  li.breadcrumb-item
    a(href="/") Home
  li.breadcrumb-item.active
    | System Status
block content
  .container
    h1 #{title}
    p How's the system going?
    .card
      h3.card-header System Status
      include includes/status-list-group.pug
      h3.card-header System Health Statistics (Events)
      include includes/status-syslog-ovv.pug
    hr
    p Last Updated: #[span#now]
block additional-libraries
  script(src="assets/javascripts/status.js")
