extends layout

block menu
  +navbar-link("/", "Home")
  +navbar-link-active()
  +navbar-link("/help", "Knowedge Base")

block content
  .container
    h1 #{title}
    p How's the system going?
    .card
      h3.card-header System Status
      include includes/status-list-group
      h3.card-header System Health Statistics (Events)
      include includes/status-syslog-ovv
    hr
    p Last Updated: #[span#now]
block additional-libraries
  script(src="/assets/javascripts/status.js")
