extends layouts/normal

block menu
  +navbar-link("/", "Home")
  +navbar-link-active()
  +navbar-link("/help", "Knowledge Base")

block content
  .container
    h1 #{title}
    p How's the system going?
  .container
    .card-deck#load-status-please
      .card
        h4.card-header System Status
        include includes/status-list-group
      .card
        h4.card-header System Health Statistics (Events)
        include includes/status-syslog-ovv
    p Last Updated: #[span#now]

block additional-libraries
  script(src="/assets/javascripts/status.js")
