extends ../layout

block menu
  include common-topbar-user

block breadcrumb
  +breadcrumb-item("/users", "Operations Hub")

block content
  .container
    h1= title
    p Manage your internal DNS Alias here.
  .container.hidden-md-down
    .card
      .card-block#dns-loadhere
        p.card-text Loading...
      .card-block
        button.mb-0.btn.btn-block.btn-primary#dns-new New Entry
  .container.hidden-lg-up
    .card
      .card-block
        p.card-text We're sorry, but this function is not supported on mobile devices.
        p.card-text If you are using tablets, please rotate your device to a landscape position.

block additional-libraries
  script(src='/users/assets/kalafina.js')
