extends ../layout

block menu
  include common-topbar-user

block breadcrumb
  +breadcrumb-item("/users", "Operations Hub")

block content
  .container
    h1= title
    p Manage your internal DNS Alias here.
  .container.hidden-md-down
    .card
      .card-block
        button.mb-0.btn.btn-block.btn-primary.dns-new New Entry
      table.table#dns-loadhere
        tbody
          tr
            td(colspan="7")
              .progress
                .progress-bar.progress-bar-striped.progress-bar-animated(style="width: 100%")
      .card-block.pt-0
        button.mb-0.btn.btn-block.btn-primary(type="button", data-toggle="modal" data-target="#NewDNS") New Entry
  include ../includes/mobile_not_supported.pug
  include _partials/dns-form.pug
block additional-libraries
  script(src='/users/assets/kalafina.js')
