extends ../layout

block menu
  include common-topbar-user

block breadcrumb
  +breadcrumb-item("/users", "Operations Hub")

block content
  .container
    h1= title
    p Manage your internal DNS Alias here.
  .container.hidden-md-down
    if errorMessage.length
      .card-block
        .alert.alert-danger !{errorMessage}
    if successMessage.length
      .card-block
        .alert.alert-success !{successMessage}
    .card
      table.table#dns-loadhere
        tbody
          tr
            td(colspan="7")
              include ../includes/loading-bar.pug
      .card-footer
        button.mb-0.btn.btn-block.btn-primary(type="button", data-toggle="modal" data-target="#NewDNS") New Entry
  include ../includes/mobile_not_supported.pug
  include _partials/dns-form.pug
  include _partials/dns-edit.pug
block additional-libraries
  script(src='/users/assets/kalafina.js')
