extends ../layouts/normal

block menu
  include ../includes/common-topbar-user

block breadcrumb
  +breadcrumb-item("/users", "Operations Hub")

block content
  .container
    h1= title
    p Manage your internal DNS Alias here.
  .container.hidden-md-down
    if errorMessage.length
      .alert.alert-danger !{errorMessage}
    if successMessage.length
      .alert.alert-success !{successMessage}
    .card
      table.table#dns-loadhere
        tbody
          tr
            td(colspan="7")
              include ../includes/loading-bar
      .card-footer
        button.mb-0.btn.btn-block.btn-primary(type="button", data-toggle="modal" data-target="#NewDNS") New Entry
  include ../includes/mobile_not_supported
  include _partials/dns-form
  include _partials/dns-edit
block additional-libraries
  script(src='/users/assets/ipcalc.js')
  script(src='/users/assets/elma.js')
