extends ../layout

block menu
  include common-topbar-user

block breadcrumb
  +breadcrumb-item("/users", "Operations Hub")

block content
  .container
    h1= title
    p Manage your Virtual Machines here.
  .container.hidden-md-down
    .card
      table.table#VM-loadhere
        tbody
          tr
            td(colspan="7")
              .progress
                .progress-bar.progress-bar-striped.progress-bar-animated(style="width: 100%")
  include ../includes/mobile_not_supported.pug
