extends ../layouts/normal

block menu
  include ../includes/common-topbar-user

block breadcrumb
  +breadcrumb-item("/users", "Operations Hub")
  +breadcrumb-item("/users/instances", "Virtual Machines")

block content
  .container
    h1= title
    p Get into the inception (?)
  .container.hidden-md-down
    include ../_partials/vm-partials/instances-clone
  include ../includes/mobile_not_supported
