extends ../layout

block menu
  include common-topbar-user

block breadcrumb
  +breadcrumb-item-nolink("Operations Hub")

block content
  .container
    h1 #{title}
    p Login to access the operation panel.
    if errorMessage.length
      .alert.alert-danger !{errorMessage}
    if successMessage.length
      .alert.alert-success !{successMessage}
    .card
      form.card-block(method="post")
        input(type="hidden" name="_csrf" value=`${csrfToken}`)
        .form-group.row
          label.col-md-2.col-form-label(for="username") Username
          .col-md-10
            input.form-control(type="text", name="username", id="username", required)
        .form-group.row
          label.col-md-2.col-form-label(for="password") Password
          .col-md-10
            input.form-control(type="password", name="password", id="password", required)
        .form-group.row
          .btn-toolbar.offset-md-2.col-md-10
            .btn-group.mr-2
              button.btn.btn-primary(type="submit")
                | Login
            .btn-group
              button.btn.btn-secondary(type="reset")
                | Reset

block additional-libraries
