table.table
  thead
    tr
      th(colspan="8") Severity
    tr
      th Emergency
      th Alert
      th Crictical
      th Error
      th Warning
      th Notice
      th Informational
      th Debug
  tbody
    tr
      td 0
      td 1
      td 2
      td 3
      td 4
      td 5
      td 6
      td 7
