#EditUser.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
  .modal-dialog.modal-lg(role='document')
    .modal-content
      .modal-header
        h5#exampleModalLabel.modal-title Reset User Password
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body#edit-user
      .modal-body#edit-loading-bar
        include ../../includes/loading-bar
      .modal-footer
        button.btn.btn-secondary(type='button', data-dismiss='modal') Close
