.tab-pane.fade#vm-mytask
  table.table#vm-mytask-loadhere
    thead
      tr
        th Ticket ID
        th Created On
        th Task
        th Result
    tfoot
      tr
        th Ticket ID
        th Created On
        th Task
        th Result
