#kb-vpn.carousel.slide(data-ride="carousel")
  ol.carousel-indicators
    li.active(data-target="#kb-vpn", data-slide-to="0")
    li(data-target="#kb-vpn", data-slide-to="1")
    li(data-target="#kb-vpn", data-slide-to="2")
  .carousel-inner(role="listbox")
    .carousel-item.active
      img.d-block.img-fluid(src="http://placehold.it/1280x720", alt="First slide")
    .carousel-item
      img.d-block.img-fluid(src="http://placehold.it/1280x720", alt="Second slide")
    .carousel-item
      img.d-block.img-fluid(src="http://placehold.it/1280x720", alt="Third slide")
  a.carousel-control-prev(href="#kb-vpn", role="button", data-slide="prev")
    span.carousel-control-prev-icon(aria-hidden="true")
    span.sr-only Previous
  a.carousel-control-next(href="#kb-vpn", role="button", data-slide="next")
    span.carousel-control-next-icon(aria-hidden="true")
    span.sr-only Next
