body
  padding-top: 70px
  padding-bottom: 70px

// https://stackoverflow.com/questions/18730116/twitter-bootstrap-3-0-how-do-i-badge-badge-important-now
.round-label
  float: right
  border-radius: 10rem
  vertical-align: middle
