form.card(method="POST")
  .card-block
    .form-group
      label(for="uuid") Source Template UUID
      input.form-control#uuid(type="text", name="uuid", readonly, value=`${uuid}`)
      small.form-text.text-muted Template Name: #{data.Value.name_label}
    .form-group
      label(for="vm_name") Name this Instance
      input.form-control#vm_name(type="text", name="vm_name", required)
    .form-group
      label(for="kickstart") Provide an URL to kickstart configuration
      input.form-control#kickstart(type="url", name="kickstart", required)
      small.form-text.text-muted#ksHelp File MUST BE located on a Plain HTTP Location.
    .form-group
      label(for="repo") Provide an URL to Software Repository
      input.form-control#repo(type="url", name="repo", required)
      small.form-text.text-muted#repoHelp Repository MUST BE located on a Plain HTTP Location.
    //- Distro Type is loaded from server.
    input(type="hidden", name="distro", value=`${data.Value.other_config['install-distro']}`)
    //- This param is required for Debian Families (including Ubuntu)
    if data.Value.other_config['install-distro'] === 'debianlike'
      .form-group
        label(for="debian_distro") Provide the release codename of the OS to be installed.
        input.form-control#debian_distro(type="text", name="debian_distro", required)
        small.form-text.text-muted#debian_distroHelp e.g. Debian: jessie (8), wheezy (7). Ubuntu (LTS is always preferred): xenial (16.04), trusty (14.04)
    if mode === 'admin'
      //- Custom network is available for Admin
      .form-group
        label(for="network") Select a network.
        select.form-control#network(name="network")
        small.form-text.text-muted#networkHelp 
    else
      //- User Network is loaded over script.
      input#network(type="hidden", name="network")
    .form-group
      label(for="disk_size") Size of Disk
      input.form-control#disk_size(type="number", name="disk_size", min="8", step="1", value="8", required)
      small.form-text.text-muted#disk_sizeHelp 8GB is the minimal requirements for most Linux Distros.
    .form-group
      label(for="disk_unit") Unit of Disk Size.
      select.form-control#disk_unit(name="disk_unit", required)
        option(value="G", selected) GB
        option(value="M") MB
    .form-group
      label(for="ram_size") Size of Memory.
      input.form-control#ram_size(type="number", name="ram_size", min="1", step="1", required)
      small.form-text.text-muted#ram_sizeHelp General Computing: 512MB ~ 2GB. Fair Usage Policy: 4GB
    .form-group
      label(for="ram_unit") Unit of Disk Size.
      select.form-control#ram_unit(name="ram_unit", required)
        option(value="G") GB
        option(value="M") MB
    if mode === 'admin'
      .form-group
        label(for="uid") Assign to User
        input.form-control#uid(type="number", min="1", step="1", name="uid", required)
        small.form-text.text-muted#uidHelp Enter 1 to make this instance visible to Administrators Only.
  .card-footer
    input(type="hidden", name="_csrf", value=`${csrf}`)
    button.btn.btn-primary(action="submit") Submit
    button.btn.btn-secondary(action="reset") Reset
