form.card(method="POST")
  .card-block
    .form-group
      label(for="uuid") Source Template UUID
      input.form-control#uuid(type="text", name="uuid", readonly, value=`${uuid}`)
    .form-group
      label(for="vm_name") Name this Instance
      input.form-control#vm_name(type="text", name="vm_name", required)
    .form-group
      label(for="kickstart") Provide an URL to kickstart configuration
      input.form-control#kickstart(type="url", name="kickstart", required)
      small.form-text.text-muted#ksHelp File MUST BE stored on a Plain HTTP Location.
    .form-group
      label(for="kickstart") Provide an URL to Software Repository
      input.form-control#kickstart(type="url", name="kickstart", required)
      small.form-text.text-muted#ksHelp File MUST BE stored on a Plain HTTP Location.
    if data.Value.other_config['install-distro'] === 'debianlike'
      .form-group
        label(for="distro") Provide the release codename of the OS to be installed.
        input.form-control#distro(type="text", name="distro", required)
        small.form-text.text-muted#distroHelp e.g. Debian: jessie (8), wheezy (7). Ubuntu (LTS is always preferred): xenial (16.04), trusty (14.04)
    if mode === 'admin'
      .form-group
        label(for="network") Select a network.
        select.form-control#network(name="network")
    else
      input(type="hidden", name="network")
    .form-group
      label(for="disk_size") Size of Disk
      // 8GB is the base size of any usual Linux Distro Suggestion
      input.form-control#disk_size(type="number", name="disk_size", min="8", step="1", value="8", required)
    .form-group
      label(for="disk_unit") Unit of Disk Size.
      select.form-control#disk_unit(name="disk_unit", required)
        option(value="G", selected) GB
        option(value="M") MB
    .form-group
      label(for="ram_size") Size of Memory.
      input.form-control#disk_size(type="number", name="ram_size", min="1", step="1", required)
    .form-group
      label(for="ram_unit") Unit of Disk Size.
      select.form-control#ram_unit(name="ram_unit", required)
        option(value="G") GB
        option(value="M") MB
    if mode === 'admin'
      .form-group
        label(for="uid") Assign to User
        input.form-control#uid(type="number", min="1", step="1", name="uid", required)
        small.form-text.text-muted#uidHelp Enter 1 to make this instance visible to Administrators Only.
  .card-footer
    input(type="hidden", name="_csrf", value=`${csrf}`)
    input(type="hidden", name="distro", value=`${data.Value.other_config['install-distro']}`)
    button.btn.btn-primary(action="submit") Submit
    button.btn.btn-secondary(action="reset") Reset
