a.btn.btn-success.vm-actions(href="#", data-action="set.vm.power_on") Power On
a.btn.btn-danger.vm-actions(href="#", data-action="set.vm.power_off") Power Off
a.btn.btn-warning.vm-actions(href="#", data-action="set.vm.power_reboot") Reboot
a.btn.btn-warning.vm-actions(href="#", data-action="set.vm.power_suspend") Suspend
a.btn.btn-success.vm-actions(href="#", data-action="set.vm.power_resume") Resume
a.btn.btn-primary.vm-actions(href="#", data-action="do.vm.clone") Clone
a.btn.btn-warning.vm-actions(href="#", data-action="do.vm.destroy") Destroy
