#EditDNS.modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5#exampleModalLabel.modal-title Update DNS Record
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body#edit-dns
      .modal-body#edit-loading-bar
        include ../../includes/loading-bar.pug
      .modal-footer
        button.btn.btn-secondary(type='button', data-dismiss='modal') Close
